<div>
  {{#if metodo}}
    <div>
      <h1>Equipo editado</h1>
      <a href="/">
        <button type="button" class="btn btn-success">
          Inicio
        </button>
      </a>
    </div>

  {{else}}
    <form
      action="/equipo/{{data.id}}/editar"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="nombreInput" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombreInput"
          name="nombreInput"
          value={{data.name}}
        />
      </div>
      <div class="mb-3">
        <label for="fundacionInput" class="form-label">Año de fundacion</label>
        <input
          type="number"
          class="form-control"
          id="fundacionInput"
          name="fundacionInput"
          value={{data.founded}}
        />
      </div>
      <div class="mb-3">
        <label for="paisInput" class="form-label">Pais</label>
        <input
          type="text"
          class="form-control"
          id="paisInput"
          name="paisInput"
          value={{data.area.name}}
        />
      </div>
      <div class="mb-3">
        <label for="nombreEstadioInput" class="form-label">Nombre del estadio</label>
        <input
          type="text"
          class="form-control"
          id="nombreEstadioInput"
          name="nombreEstadioInput"
          value={{data.venue}}
        />
      </div>
      <div class="mb-3">
        <label for="direccionInput" class="form-label">Direccion</label>
        <input
          type="text"
          class="form-control"
          id="direccionInput"
          name="direccionInput"
          value={{data.address}}
        />
      </div>
      <div class="mb-3">
        <label for="paginaWebInput" class="form-label">Pagina Web</label>
        <input
          type="text"
          class="form-control"
          id="paginaWebInput"
          name="paginaWebInput"
          value={{data.website}}
        />
      </div>
      <div class="d-flex justify-content-center">
        <label for="imagen">Imagen: </label>
        <input type="file" name="imagen" id="imagen" src='/imagenes/{{data.crestUrl}}'/>
      </div>

      <div>
        <button
          type="submit"
          value="Editar Equipo"
          class="btn btn-primary"
        >Editar</button>

      </div>

    </form>

    <a class="text-white" href="/">
      <button type="button" class="btn btn-warning">
        Volver
      </button>
    </a>
  {{/if}}
</div>