<div
  style="padding: 0;margin: auto;background-color: aliceblue;width: 90vw;height: auto;"
>
  <div style="border: 1px solid black;">
    <div style="display: flex; padding: 10px;">
      <p>Hay {{data.cantidadEquipo}} equipos</p>

      <a class="text-white" href="/agregar">
        <button
          type="button"
          style="margin-left: 10px;"
          class="btn btn-primary"
        >
          Agregar
        </button>
      </a>

    </div>
    <div>
      <div
        style="display: grid; grid-template-columns: 300px 300px 300px; padding: 10px;"
      >
        <div>Equipo</div>
        <div>Pais</div>
        <div>Accion</div>
      </div>
      {{#each data.dataParse as |equipo|}}
        <div
          style="display: grid; grid-template-columns: 300px 300px 300px; padding: 10px;"
        >
          <div>{{equipo.name}}</div>
          <div>{{equipo.area.name}}</div>
          <div>
            <a class="text-white" href="/equipo/{{equipo.id}}">
              <button type="button" class="btn btn-primary">
                Ver
              </button>
            </a>
            <a class="text-white" href="/equipo/{{equipo.id}}/editar">
              <button type="button" class="btn btn-success">
                Editar
              </button>
            </a>
            <a class="text-white" href="/eliminar/{{equipo.id}}">
              <button type="button" class="btn btn-danger">
                Eliminar
              </button>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>